@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --cor-areia: #FFEBB5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-areia);
}

.wave {
  position: absolute;
  
  width: 100%;
}

.wave-1 {
  top: -320px;
  z-index: -1;

  animation: big-wave infinite 2s  ease-in-out alternate;
}

.wave-2 {
  top: -220px;
  z-index: -2;
  
  animation: big-wave infinite 2.7s ease-in-out alternate;
}

.wave-3 {
  top: -85px;
  z-index: -3;
  
  animation: big-wave infinite 3.4s ease-in-out alternate;
}

.wave-4 {
  top: -50px;
  z-index: -4;
  
  animation: opacity infinite 6.8s 3.4s ease-in-out;
  opacity: 0%;
  filter: invert();
}

.header {
  padding: 48px;

  width: 100vw;

  display: flex;
  justify-content: end;
}

.button-menu {
  background: none;
  border: none;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 70%;
  
  animation: small-wave infinite 2s alternate ease-in-out;
}

.subtitle {
  font-size: 32px;
  font-family: "Itim", cursive;
  color: white;
  
  animation: small-wave infinite 2s alternate ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 25%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes big-wave {
  from {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(35px);
  }
}

@keyframes small-wave {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}